@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }

  .header {
    flex: auto;
    color: black;
    width: auto
    height: auto    ;
    background-color: darkblue;
    border: 2px solid black; 
}


.head-text {
    font-size: 48px; 
    color: #830b0b;
}

.hero-subtext{
    font-size: 18px #E5E7EB;

}