body { 
    font-family: 'Roboto', sans-serif; 
  }

.header {
    padding: 100px;
    text-align: left;
    background: #1f2937;
    color: white;
    font-size: 30px;
}

.hero-text {
    font-size: 48px #F9FAF8;
}

.hero-subtext{
    font-size: 18px #E5E7EB;

}